<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxnu.os.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.jxnu.os.model.Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="sno" property="sno" jdbcType="VARCHAR"/>
        <result column="s_sex" property="s_sex" jdbcType="CHAR"/>
        <result column="t_id" property="t_id" jdbcType="INTEGER"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="avatarUrl" property="avatarUrl" jdbcType="VARCHAR"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="classes" property="classes" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="loadUserBySno" resultMap="BaseResultMap">
        select * from student where sno=#{sno}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select student.id,username,sno,s_sex,a_name,major,classes from student,admin
        where student.id = #{id,jdbcType=INTEGER}
        and student.t_id = admin.id
    </select>

    <select id="getAllStu" resultMap="BaseResultMap">
        select id,sno,s_sex,username,t_id,classes  from student
        <if test="keywords!=null">
            where sno like concat('%',#{keywords},'%') or username like concat('%',#{keywords},'%')
        </if>
        order by id;
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from student where id = #{id,jdbcType=INTEGER}
    </delete>
    <update id="base64Upload">
        update student
        set avatarUrl=#{imgFilePath}

        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jxnu.os.model.Student">
        update student,admin
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="sno != null">
                sno = #{sno,jdbcType=VARCHAR},
            </if>
            <if test="s_sex != null">
                s_sex = #{s_sex,jdbcType=VARCHAR},
            </if>
            <if test="a_name !=null ">
                a_name = #{a_name,jdbcType=VARCHAR},
            </if>
            <if test="major !=null">
                major = #{major,jdbcType=VARCHAR},
            </if>
            <if test="classes !=null">
                classes = #{classes,jdbcType=VARCHAR}
            </if>
        </set>
        where student.id = #{id,jdbcType=INTEGER} and t_id = admin.id
    </update>

    <update id="modifyPass" parameterType="com.jxnu.os.model.Student">
        update student set password = #{rePassword} where sno=#{sno}
    </update>

    <insert id="insert" parameterType="com.jxnu.os.model.Student">
        insert into student (username,sno,password)
        values (#{username,jdbcType=VARCHAR},#{sno,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR})
    </insert>

</mapper>
